@mixin icon-edit {
    height: 90%;
    border-right: 12px;
    &_click {
        @include click-icon;
    }
}

@mixin click-icon {
    cursor: pointer;

    &:hover {
        background: var(--grey);
    }

    &:active {
        background: var(--grey-3);
    }
}
